.preference__list {
  display: block;
}
.preference-item {
  width: 100%;
  align-content: center;

  &:not(:last-child) {
    margin-bottom: var(--tipical-margin);
  }
}

.preference-item__picture {
  position: relative;
  background-color: #f5f4fa;
  min-height: 120px;

  &:not(:last-child) {
    margin-bottom: var(--tipical-margin);
  }
}
.preference-item__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preference-item__title {
  @include font(14px, 700, 16px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
.preference-text {
  @include font(14px, 400, 24px);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .preference__list {
    display: flex;
    flex-wrap: wrap;
  }
}
// .preference {
//   padding-bottom: 0;

//   &__list {
//     display: flex;
//     justify-content: space-between;
//   }
// }

// .preference-item__picture {
//   @extend %align;
//   width: 270px;
//   height: 120px;
//   background-color: #f5f4fa;
//   border-radius: 4px;
//   margin-bottom: var(--tipical-margin);
// }
// .preference-item:not(:last-child) {
//   margin-right: var(--tipical-margin);
//   max-width: 270px;
// }
// .preference-item__title {
//   @include font(14px, 700, 16px);
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--title-color);
//   margin-bottom: 10px;
// }
// .preference-text {
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: var(--main-text-color);
// }
