.projects-item-title {
  @include font(18px, 700, 36px);
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.projects-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.projects-items {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.project-text-wraper {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 24px 20px;
}
.project-link {
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
  display: block;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-link-text {
  transform: translateY(0);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  color: var(--main-title-color);
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  padding: 64px 23px;
  transition: transform var(--transition-duration)
    var(--transition-timing-function);

  .project-link:hover &,
  .project-link:focus & {
    transform: translateY(-100%);
    transition: transform var(--transition-duration)
      var(--transition-timing-function);
  }
}

.project-link-wrap {
  position: relative;
  overflow: hidden;
}
