.logo {
  font-family: $sec-font-family;
  @include font(26px, 700, 31px);
  letter-spacing: 0.03em;
  color: #000000;
}
.header__logo {
  font-family: $sec-font-family;
  @include font(26px, 700, 31px);
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}
.footer-logo-link {
  display: inline-block;
  margin-bottom: 20px;
  font-family: $sec-font-family;
  font-style: normal;
  @include font(26px, 700, 31px);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer__logo {
  color: #ffffff;
}
