.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: var(--main-title-color);
  border-radius: 4px;
  padding: 40px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  @extend %align;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.modal-close-btn-icon {
  fill: #000000;
  transition: fill var(--transition-duration) var(--transition-timing-function);

  .modal-close-btn:hover &,
  .modal-close-btn:focus & {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
